# Database Configuration
DATABASE_URL=mysql+pymysql://root:password@127.0.0.1/ipl_ai

# Gemini API Configuration
GEMINI_API_KEY=your_gemini_api_key_here

# JWT Authentication Config
JWT_SECRET=c22ea36f74a00bc7bbff62883b2fb7b65345a30fe539b4b9b6e8a4a39031c26b
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
